<div class="container" (swipeup)="onSwipeup($event)">
  <div class="row header">
    <div class="col-1">
      <i class="fa fa-arrow-circle-up pulse" [routerLink]="['/home']"></i>
    </div>
    <div class="col-4 offset-3">
      <h2>O MNIE</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-5 container-photo">
      <img src="../../assets/my.jpg" alt="photo" class="photo" draggable="false">
      <div class="name">Przemek Widanka</div>
      <div class="occupation">Front-end Developer</div>
    </div>
    <div class="col-7 container-about-me">
      Nazywam się Przemysław Widanka, jestem młodszym front-end developerem. Jako a
    </div>
    <p></p>
  </div>
</div>