.row{
    margin: 0;
}

p i{
    font-size: 1rem;
}

img{
    margin: 5px;
    width: 250px;
}

@media screen and (max-width: 500px) {
    img {
        width: 100px;
    }
}

.arrow-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    padding-top: 10px;
    margin-bottom: 10px;
}

i{
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    i {
        font-size: 30px;
    }
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.10); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.10); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 4000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

h2 {
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 600;
    overflow: hidden;
    text-align: center;
}

.container-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    .container-photo {
       align-items: flex-start;
    }
}

.occupation{
    margin: 0 auto 10px auto;
    background: black;
    color: white;
    text-align: center;
    width: 70%;
}

.container-about-me{
    margin-top: 20px;
}

.text{
    background: white;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text1{
    background: white;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .text {
        display:block;
        padding: 10px 0;
    }
    .text1 {
        display: block;
        padding: 10px 0;
    }
}

.text:hover{
    transition: 1s;
    transform: scale(1.02);
}

.text1:hover{
    transition: 1s;
    transform: scale(1.02);
}

p{
    margin: 0;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    p {
        font-size: 12px;
        padding: 4px;
    }

    p i{
        font-size: 12px;
    }
}

.container-photo{

}