<div class="container-fluid h-100" (swipedown)="onSwipedown($event)">
  <div class="d-flex flex-column h-100">
    <div class="row header m-0">
      <div class="col-1 arrow-container">
        <i class="fa fa-arrow-circle-down pulse" [routerLink]="['/home']"></i>
      </div>
      <div class="offset-sm-3 col-sm-4 col-10">
        <h2>KONTAKT</h2>
      </div>
    </div>
    <div class="d-flex justify-content-center contact h-100">
      <div class="col-12 text-center container-data">
        <div class="col-sm-4 col-12 data">
          <p class="name-data">Telefon</p>
          <p class="my-data">+48 506519785</p>
        </div>
        <div class="col-sm-4 col-12 data">
          <p class="name-data">E-mail</p>
          <p class="my-data">przemyslaw.widanka@gmail.com</p>
        </div>
        <div class="col-sm-4 col-12 data">
          <p class="name-data">Miejscowość</p>
          <p class="my-data">Gdańsk</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  © 2018 by Przemysław Widanka
</div>