<div class="intro-container">
  <div class="welcome-section" [ngClass]="{'content-hidden': hidden}">
    <div class="content-wrap">
      <ul class="fly-in-text">
        <li>H</li>
        <li>E</li>
        <li>L</li>
        <li>L</li>
        <li>O</li>
        <div class="emoticon">
          <li>:</li>
          <li>)</li>
        </div>
      </ul>
      <!-- <a href="#" [routerLink]="['/home']" (click)="showHomePage()" class="enter-button">Zapraszam na stronę przedstawiająca moją skromną osobę</a> -->
    </div>
  </div>
</div>