<div class="container">
  <div class="h-100" style="position: relative">
    <div class="row header">
      <div class="col-1">
        <img src="../../assets/right.png" class="arrow-right" alt="arrow-right" width="40px" height="40px" [routerLink]="['/home']">
      </div>
      <div class="col-4 offset-3">
        <h2>Umiejętności</h2>
      </div>

    </div>
    <div class="row my-skills">
      <div class="col-12">
        <h5>W projektach, które miałem możliwość wykonywać, używałem następujących technologii:</h5>
      </div>
      <div class="col-3 text-center skill">
        <img class="text-center" src="../../assets/html.svg" alt="strzalka" width="100px" height="100px">
        <h3>HTML5</h3>
      </div>
      <div class="col-3 text-center skill">
        <img class="text-center" src="../../assets/css.svg" alt="strzalka" width="100px" height="100px">
        <h3>CSS3</h3>
      </div>
      <div class="col-3 text-center skill">
        <img class="text-center" src="../../assets/js.svg" alt="strzalka" width="100px" height="100px">
        <h3>JAVASCRIPT</h3>
      </div>
      <div class="col-3 text-center skill">
        <img class="text-center" src="../../assets/jquery.svg" alt="strzalka" width="100px" height="100px">
        <h3>JQUERY</h3>
      </div>
      <div class="col-3 text-center skill">
        <img class="text-center" src="../../assets/git.svg" alt="strzalka" width="100px" height="100px">
        <h3>GIT</h3>
      </div>
      <div class="col-3 text-center skill">
        <img class="text-center" src="../../assets/ps.svg" alt="strzalka" width="100px" height="100px">
        <h3>PHOTOSHOP</h3>
      </div>
      <div class="col-3 text-center skill">
        <img class="text-center" src="../../assets/bootstrap1.png" alt="strzalka" width="100px" height="100px">
        <h3>BOOTSTRAP</h3>
      </div>
      <div class="col-3 text-center skill">
        <img class="text-center" src="../../assets/angular.svg" alt="strzalka" width="100px" height="100px">
        <h3>ANGULAR</h3>
      </div>
      <div class="col-12 text-center skill">
          <img class="text-center" src="../../assets/ts.png" alt="strzalka" width="100px" height="100px">
          <h3>TYPESCRIPT</h3>
        </div>
    </div>
  </div>
</div>