.row{
    margin: 0;
}

.header{
    padding-top: 10px;
}

h2 {
    overflow: hidden;
    text-align: center;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 600;
}

.arrow-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    i {
        font-size: 30px;
    }
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.10); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.10); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 4000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.container{
    height: 100%;
    position: relative;
}

.container-portfolio{
    justify-content: space-around;
}

@media screen and (max-width: 800px) {
    .container-portfolio {
        margin: 1px;
    }
}

.left-side, .higher, .lower{
    position: relative;
    transition: 1s;
    /* background: rgb(185, 175, 175); */
}

.left-side:hover .my-buttons, .higher:hover .my-buttons, .lower:hover .my-buttons {
    z-index: 250;
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

.left-side:hover, .higher:hover, .lower:hover{
    background: none;
    transition: 1s;
    transform: scale(1.05);
}

.my-button{
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 2px;
}

.my-buttons{
    z-index: 300;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.flex-grow {
    flex: 1 0 auto;
}

.container-thumbnail{
    width: 100% !important;
}

.right-side{
    width: 45%;
    height:100%;  
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-side{
    /* background: #d6dfe6; */
    border: 4px solid white;
    border-radius: 25px;    
    /* margin: 3px; */
    padding: 25px;
    width: 45%;
    height: 75%;
}

@media screen and (max-width: 800px) {
    .left-side {
        width: 100%;
        height: 33.33%;
    }
    .right-side {
        width: 100%;
        height: 66.66%;
    }
}

.thumbnail{
    /* width: 100%; */
    height: 60%;
    /* max-width: 600px; */
}

@media screen and (max-width: 800px) {
    .thumbnail {
        height: 100%;
    }
}

.container-thumbnail-half{
    height: 40%;
    padding: 25px;
    /* background: white; */
    border: 4px solid white;
    border-radius: 25px;    
}

@media screen and (max-width: 800px) {
    .container-thumbnail-half {
        height: 50%;
    }
}



.thumbnail-with-half-height{
    /* width: 100%; */
    height: 100%;
    /* max-width: 600px; */
}

.background-api{
    /* background: lightyellow; */
    border: 4px solid white;
    border-radius: 25px;
    
}
