<div class="container">
  <div class="row header">
    <div class="col-1">
      <img src="../../assets/left.png" alt="strzalka" width="40px" height="40px" [routerLink]="['/home']">
    </div>
    <div class="col-4 offset-3">
      <h2>Portfolio</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="container-photo1">

      </div>
    </div>
    <div class="col-6 container-photo">
      <div class="">
        <img src="../../assets/iphone.png" class="iphone" alt="iphone">
        <img src="../../assets/mac.png" class="mac" alt="mac">
        <div class="my-buttons">
          <a href="https://pwidanka.github.io" target="_blank">
            <button class="btn btn-primary my-button">Podgląd</button>
          </a>
          <a href="https://github.com/pwidanka/pwidanka.github.io" target="_blank">
            <button class="btn btn-secondary my-button">Kod</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>