.container-fluid{
    background-image: url("../../assets/tlo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 15px 0;
    opacity: 0;
}

.flex-grow {
    flex: 1 0 auto;
}

h2{
    font-size: 1.8rem;
}

.show{
    opacity: 1;
    transition: all 2s 4s !important;
}

.about-me{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.portfolio-skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.portfolio{
    transform: rotate(270deg);
}

@media screen and (max-width: 500px) {
    .portfolio {
       margin-left: -15px;
    }
}

.skills{
    transform: rotate(90deg);
}


@media screen and (max-width: 500px) {
    .skills {
        margin-right: -30px;
    }
}

.contact{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header{
    /* display: flex */
}

@media screen and (max-width: 500px) {
    .header {
        width: 80%;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%,0%);
    }
}

#typed{
    color: white;
    text-align: center;
}

#typed::after{
    content: '|';
    display: inline;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}