.container-fluid{
    background-image: url("../../assets/tlo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 15px 0;
    opacity: 0;
}

.flex-grow {
    flex: 1 0 auto;
}

@-moz-document url-prefix() {
    .flex-grow {
      flex: 0.5 !important;
    }
  }

h2{
    font-size: 1.8rem;
}

.show{
    opacity: 1;
    transition: all 2s 4s !important;
}

.about-me{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.portfolio-skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.portfolio{
    transform: rotate(270deg);
}

@media screen and (max-width: 500px) {
    .portfolio {
       margin-left: -15px;
    }
}

.skills{
    transform: rotate(90deg);
}


@media screen and (max-width: 500px) {
    .skills {
        margin-right: -30px;
    }
}

.contact{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header{
    /* display: flex */
}

@media screen and (max-width: 500px) {
    .header {
        width: 80%;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%,0%);
    }
}

#typed{
    color: white;
    text-align: center;
}

#typed::after{
    content: '|';
    display: inline;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.container-swipe{
    position: absolute;
    right: 10px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .container-swipe {
        width: 30%;
    }
}

.container-swipe p{
    font-size: 12px;
}

.swipe{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: 45px;
    animation-iteration-count: infinite;
    animation-name: wobble;
    animation-duration: 1s;
    position: relative;
}

@keyframes wobble {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    15% {
      -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
  
    30% {
      -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
  
    45% {
      -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
  
    60% {
      -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
  
    75% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  