<div class="container-fluid" [ngClass]="{'show': ukryj}" (swipeleft)="onSwipeleft($event)" (swiperight)="onSwiperight($event)" (swipeup)="onSwipeup($event)" (swipedown)="onSwipedown($event)">

  <nav>
    <button [routerLink]="['/about-me']" class="btn btn-outline-light btn-lg about-me">O mnie</button>
    <button [routerLink]="['/portfolio']" class="btn btn-outline-light btn-lg portfolio">Portfolio</button>
    <button [routerLink]="['/skills']" class="btn btn-outline-light btn-lg skills">Umiejętności</button>
    <button [routerLink]="['/contact']" class="btn btn-outline-light btn-lg contact">Kontakt</button>
  </nav>


  <div class="row header">
    <h2 id="typed"></h2>
  </div>
</div>