<div class="container-fluid d-flex flex-column h-100" [ngClass]="{'show': ukryj}" (swipeleft)="onSwipeleft($event)" (swiperight)="onSwiperight($event)"
  (swipeup)="onSwipeup($event)" (swipedown)="onSwipedown($event)">
  <div class="d-flex flex-column flex-grow">
      <div class="col-12 about-me">
        <button [routerLink]="['/about-me']" class="btn btn-outline-light btn-lg">O mnie</button>
      </div>
      <div class="col-12 portfolio-skills h-100 flex-grow">
        <button [routerLink]="['/portfolio']" class="btn btn-outline-light btn-lg portfolio">Portfolio</button>
        <div class="header">
          <h2 id="typed"></h2>
        </div>
        <button [routerLink]="['/skills']" class="btn btn-outline-light btn-lg skills">Umiejętności</button>
      </div>
      <div class="col-12 contact">
        <button [routerLink]="['/contact']" class="btn btn-outline-light btn-lg">Kontakt</button>
      </div>
  </div>
</div>